*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to right, #360033, #0b8793);
}

.container{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.todo_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 32px;
    background-color: #0b8793;
}

.todo_title{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.todo_div{
    display: flex;
    margin-top: 16px;
}

.todo_input{
    padding: 6px 8px;
    font-size: 0.9rem;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
}

.todo_btn{
    padding: 6px 8px;
    font-size: 0.9rem;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover{
        background-color: blue;
    }
}

.todo_container{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 16px;
    background-color: #0b8793;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed blue;
}

.todo:last-child{
    border: none;
}

.todo_left{
    display: flex;
    align-items: center;
}

.todo_text, .todo_edit{
    margin-left: 8px;
}

.todo_cb:checked ~ .todo_text{
    text-decoration: line-through;
    color: gray;
}




















